name: CI

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm
      - run: make dependencies
        env:
          JOBS: 1 # See https://git.io/vdao3 for details
      - run: make package-chrome
      - uses: actions/upload-artifact@v4
        with:
          name: chrome-extension
          path: dist-packages/chrome.zip
      - run: mv dist-packages/chrome.zip dist-packages/better-trading-cn-${{ github.ref_name }}.zip
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: dist-packages/better-trading-cn-${{ github.ref_name }}.zip
